<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jkr.modules.sys.user.mapper.SysUserRoleMapper">

    <delete id="deleteUserRolesByRoleId" parameterType="String">
        DELETE
        FROM sys_user_role
        WHERE user_id = #{roleId}
    </delete>

    <delete id="deleteUserRolesByUserId" parameterType="String">
        DELETE
        FROM sys_user_role
        WHERE user_id = #{userId}
    </delete>

</mapper>
